* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: url("https://images.unsplash.com/photo-1501004318641-b39e6451bec6") center / cover no-repeat;
  min-height: 100vh;
}

.app {
  background: rgba(0, 0, 0, 0.75);
  min-height: 100vh;
  padding: 20px;
  text-align: center;
  color: #fff;
}

h1 {
  margin-top: 10px;
  color: #4caf50;
}

.subtitle {
  color: #ccc;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  gap: 12px;
  justify-content: center;
  margin-bottom: 15px;
}

button {
  background: #000;
  border: 2px solid orange;
  color: #fff;
  padding: 12px 16px;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
}

button:hover {
  background: #111;
}

#preview {
  max-width: 100%;
  border-radius: 12px;
  margin: 15px auto;
  display: none;
  border: 2px solid orange;
}

#analyzeBtn {
  margin-top: 10px;
  width: 100%;
}

#result {
  margin-top: 20px;
  background: rgba(0,0,0,0.6);
  padding: 15px;
  border-radius: 12px;
  border: 1px solid orange;
  font-size: 15px;
}
